{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="dummy"></section>

{% schema %}
{
  "name": "Featured collection",
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
