<h1>Feature Product</h1>
{% schema %}
{
  "name": "Feature Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Feature Product"
    }
  ]
}
{% endschema %}
