{% liquid
  assign product = section.settings.product
  assign margin_top = section.settings.marginTop
  assign margin_bottom = section.settings.marginBottom
  assign padding_top = section.settings.paddingTop
  assign padding_bottom = section.settings.paddingBottom
%}
<section
  id="feature"
  class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0 mb-[{{ section.settings.marginBottom }}px] mt-[{{ section.settings.marginTop }}px] pb-[{{ section.settings.paddingBottom }}px] pt-[{{ section.settings.paddingTop }}px]"
></section>
{% schema %}
{
  "name": "Feature Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Feature Product"
    }
  ]
}
{% endschema %}
