<section class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 xl:px-0  mb-[80px] mt-[40px]">
  <div class="flex flex-row flex-wrap content-center justify-between items-center mb-[40px]">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-900 sm:text-3xl">
      {{ collections[section.settings.gridViewCollectionId].title }}
    </h2>
    {% if section.settings.changeViewAllText != blank %}
      <a
        href="{{ collections[section.settings.gridViewCollectionId].url }}"
        class="not-italic font-medium text-sm sm:text-base text-[#00B307] flex gap-x-2"
      >
        {{- section.settings.changeViewAllText -}}
        <img
          src="{{'img__heading_right-arrow.svg' |  asset_url}}"
          width="auto"
          height="auto"
      ></a>
    {% endif %}
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for product in collections[section.settings.gridViewCollectionId].products %}
      {% render 'product-item-grid', { product: product } %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Products Grid View",
  "tag": "section",
  "class": "Customize_Product_Grid_View",
  "settings": [
    {
      "type": "collection",
      "id": "gridViewCollectionId",
      "label": "Select Collection"
    },
    {
      "type": "text",
      "id": "changeViewAllText",
      "label": "Change View All Text",
      "default": "View All"
    },
    {
      "type": "header",
      "content": "Products Per Row ( Devices )"
    },
    {
      "type": "range",
      "id": "perRoWxs",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Extra Small (XS)",
      "default": 1
    },
    {
      "type": "range",
      "id": "perRoWsm",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Small (SM)",
      "default": 2
    },
    {
      "type": "range",
      "id": "perRoWmd",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Medium (MD)",
      "default": 3
    },
    {
      "type": "range",
      "id": "perRoWlg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large (LG)",
      "default": 4
    },
    {
      "type": "range",
      "id": "perRoWxl",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large (XL)",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Products Grid View"
    }
  ]
}
{% endschema %}
