{% if search.performed %}
  {% for result in search.results %}
    {% if result.object_type == 'page' %}
      <h1>page</h1>
    {% elsif result.object_type == 'article' %}
      <h1>article</h1>
    {% elsif result.object_type == 'product' %}
      <h1>result.title</h1>
    {% endif %}
  {% endfor %}
{% else %}
  <h1>Search not Working</h1>
{% endif %}
